@model IEnumerable<ProgBlog.Models.Post>

@{
    ViewBag.Title = "Index";
}

<br />
<br />


@if ((Session["UserId"] != null) && (Convert.ToInt32(Session["UserId"]) == Convert.ToInt32(ViewBag.AuthorId)))
{
    <p>
        @Html.ActionLink("Create New", "Create", "Posts")
    </p>

}


@foreach (var item in Model.OrderByDescending(x => x.DateTime))
{
    <div class="row">
        <div class="col-lg-8">
            <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
            <p class="blog-post-meta">@item.DateTime.ToString("dd-MMMM-yyyy") by <a href="@Href("~/Users/Details/"+item.UserId)">@Html.DisplayFor(modelItem => item.Users.Username)</a></p>
            <p>@Html.DisplayFor(modelItem => item.Content)</p>
            <p><a class="btn btn-default" href="@Href("~/Posts/Details/"+item.ID)" role="button">View details &raquo;</a></p>
        </div>

    </div>

}
