@model ProgBlog.Models.Users

@{
    ViewBag.Title = "Login";
}

<br />
<br />
<h2>Login</h2>
<hr />
@using (Html.BeginForm("Login", "Users", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-md-offset-3">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (ViewBag.Message != null)
        {
            <div style="color: red">
                @ViewBag.Message
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Username, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Password, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}