@model ProgBlog.Models.Post

@{
    ViewBag.Title = "Details";
}

<div class="blog-header col-lg-offset-3">
    <h1><strong>Programmer's</strong> Blog</h1>
</div>

    <hr />


<div class="row">
    <div class="col-sm-8 blog-main">
        <div class="blog-post">
            <h2 class="blog-post-title">@Html.DisplayFor(modelItem => modelItem.Title)</h2>
            <p class="blog-post-meta">@Model.DateTime.ToString("dd-MMMM-yyyy")</p>
            <p>@Html.DisplayFor(modelItem => modelItem.Content)</p>
        </div>

        <hr/>
        <div class="well">
            <h4>Leave a Comment:</h4>
            <form role="form">
                <div class="form-group">
                    <input type="text" id="commentNamePrompt" name="name" />Name(required)<br />
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <hr>
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/64x64" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    Name of Commenter<small>August 25, 2014 at 9:30 PM</small>
                </h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </div>
        <hr>
    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
            <img src="images/default-icon.png" />
            <p class="blog-post-meta">Author: <a href="@Href("~/Users/Details/"+Model.UserId)">@Html.DisplayFor(modelItem => modelItem.Users.Username)</a></p>
        </div>
        <div class="sidebar-module">
            <h4>Contact me:</h4>
            <ol class="list-unstyled">
                <li><a href="@Href(Model.Users.Vkontakte)"><i class="fa fa-vk"></i>Vkonakte</a></li>
                <li><a href="@Href(Model.Users.Skype)"><span class="fa fa-skype"></span>Skype</a></li>
                <li><a href="@Href(Model.Users.Facebook)"><i class="fa fa-facebook-square"></i>Facebook</a></li>
            </ol>
        </div>
    </div>
</div>



       
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
