<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Programmer's Blog</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/component.css")
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>  
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>‌​
    

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PB", "Index", "Posts", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Posts")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @if ((Session["UserId"] != null))
                    {
                        <li>@Html.ActionLink("My Posts", "Index", "Users", new { id = Convert.ToInt32(Session["UserId"]) }, null)</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")

                @*@using (Ajax.BeginForm(null, null,
                new AjaxOptions
                {
                    HttpMethod = "get",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "postlist"
                }, htmlAttributes: new { @class = "navbar-form navbar-right" }))
                {
                    <input type="search" class="form-control" name="searchstr" placeholder="Search...">
                }*@
                <form class="navbar-form navbar-right" method="get" action="@Url.Action("Index")"
                      data-otf-ajax="true" data-otf-target="#postlist">
                    <input id="mysearch" type="search" class="form-control" name="searchstr" data-otf-autocomplete="@Url.Action("Autocomplete")" placeholder="Search...">
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr />


        
    </div>
    <footer class="blog-footer">
        <p><strong>Copyright @DateTime.Now.Year, The Programers Blog </strong></p>
        <p>All are reserved. </p>
        <p><a href="#">Back to top</a></p>
    </footer>

    @Scripts.Render("~/bundles/otf")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sld")
    <script src="~/Scripts/otf.js"></script>
   <!-- <script src="~/Scripts/jquery.cbpFWSlider.min.js"></script>

    <script src="~/Scripts/startslider.js"></script>
  -->
   
    @RenderSection("scripts", required: false)
</body>
</html>
